body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h3{

    font-weight:90;
}

.nav-link{
    color:white;
}

button.btn-sm, a.btn-sm{
    line-height: 2.5;
    border-radius: 10px;
}

option{

    font-weight: bolder;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div{

    outline: 2px solid gray;
   
}


.homeHeader {
    height: 500px;
    object-fit: cover;
    background: no-repeat center center;
    
}

.carousel-caption{

    position:absolute;
    top:200px;
  
}


.commentSection{
    background-color:darkgrey;
}

.card-img-top {
    max-width: 100%;
    max-height: 15vw;
    object-fit: cover;
}
.card-title{
    
    font-size:34px;
    font-weight:100;
}
a>.card-title:hover{

    text-decoration:underline;

}

/********************IDs*****************/


#blogContainer{
    max-width: 80rem;
}
#detailsTitle {
    font-size: 40px;
    font-weight: 90;
}

#detailsContainer{
    background-color:white;
    margin-top:0;
  
}