

body{
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header.masthead {
    margin-bottom: 0 !important;
}

h3{

    font-weight:90;
}


button.btn-sm, a.btn-sm{
    line-height: 2.5;
    border-radius: 10px;
}

option{

    font-weight: bolder;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div{

    outline: 2px solid gray;
   
}



.commentSection{
    background-color:darkgrey;
}

.card-img-top {
    max-width: 100%;
    max-height: 15vw;
    object-fit: cover;
}
.card-title{
    
    font-size:34px;
    font-weight:100;
}
.card-title:hover{

    text-decoration:underline;

}



.navbar {
    background-color: #292929;
    
}

.navbar-brand{
    font-weight:bold;
}
.navbar-toggler, .collapsed{
    color:white;
    border-color:transparent;
}

.nav-link{
    color:white;
}

.nav-link:hover {
    text-decoration:underline;
}

.dropdown-menu.show{
    background-color: #292929;
    border-color:transparent;
}

.dropdown-item{
    color:white;
}

/********************IDs*****************/


#blogContainer{
    max-width: 80rem;
}
#detailsTitle {
    font-size: 40px;
    font-weight: 90;
}

#detailsContainer{
    background-color:white;
    margin-top:0;
  
}

#searchForm{
    max-width:350px;
    min-width:100px;
}
