@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
   //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Post Content-->

<article>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.Raw(Model.Content)
        </div>
    </div>
</article>


<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Tags
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-success btn-sm" asp-action ="TagIndex" asp-route-tag="@tag.Text">#@tag.Text.ToUpper()</a>
            }
        </div>
    </div>
</article>

<hr />

<!-- Displaying Comments related to this post -->
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)
            <div class="row">
                <div class="form-group">
                    <label class="h2 control-label font-weight-bold">Add Comment</label>             
                </div>
            </div>
            <div class="row mb-2">
                <textarea name="body" class="from-control" rows="5"></textarea>
            </div>
            

            <button type="submit" class="btn btn-dark w-100 btn-sm mb-2">Submit</button>

        </form>
       
    }
    else
    {
        <a class="btn w-100 btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
            Login to add comments</a>
    }
</div>


<!-- Displaly the image of the comment's Author -->