@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
   //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Post Content-->

<article>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.Raw(Model.Content)
        </div>
    </div>
</article>


<hr />

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
    </div>

    <div class="row">
        <div clss="col">
            @foreach(var tag in Model.Tags)
            {
                <a asp-action = "TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<!-- Displaying Comments related to this post -->
<!-- Displaly the image of the comment's Author -->